@model RailGallery.Models.Album
@using RailGallery.Enums;

@{
    ViewData["Title"] = "Delete Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4>Are you sure you want to delete this album?</h4>
        <hr />

        <div class="form-group text-center">
            @if (Model.Images.Where(i => i.ImagePrivacy != RailGallery.Enums.Privacy.Private && i.ImageStatus == Status.Published).Any())
            {
                <img style="object-fit: cover; max-width: 300px; max-height: 200px; " src="/api/Photo/@Model.Images.Where(i=>i.ImagePrivacy != RailGallery.Enums.Privacy.Private && i.ImageStatus == Status.Published).ElementAt(0).ImagePath/Thumbnail" asp-append-version="true" alt="">
            }
            else
            {
                <div class="text-center pt-5" style="object-fit: cover; width: 300px; height: 200px; min-width: contain; background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px ), linear-gradient( to bottom, #eee, #999 );"><h6>This album is empty or only contains private photos.</h6></div>
            }
        </div>

        <div class="row justify-content-between">
            <div class="col-auto font-weight-bold">
                @Html.DisplayNameFor(model => model.AlbumTitle)
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AlbumTitle)
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-auto font-weight-bold">
                @Html.DisplayNameFor(model => model.AlbumPrivacy)
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AlbumPrivacy)
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-auto font-weight-bold">
                Album Owner
            </div>
            <div class="col-auto">
                <a asp-controller="Author" asp-action="Index" asp-route-username="@Model.ApplicationUser.UserName">@Html.DisplayFor(model => model.ApplicationUser.UserName)</a>
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="AlbumID" />
                        <input type="submit" value="Delete album" class="btn btn-danger" />
                    </form>
                </div>
                <div class="col-auto">
                    <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
                </div>
            </div>
        </div>
    </div>
</div>
