@model RailGallery.Models.Album
@using RailGallery.Enums;
@{
    ViewData["Title"] = "Edit Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlbumID" />
            <div class="form-group text-center">
                @if (Model.Images.Where(i => i.ImagePrivacy != RailGallery.Enums.Privacy.Private && i.ImageStatus == Status.Published).Any())
                {
                    <img style="object-fit: cover; max-width: 300px; max-height: 200px; " src="/api/Photo/@Model.Images.Where(i=>i.ImagePrivacy != RailGallery.Enums.Privacy.Private && i.ImageStatus == Status.Published).ElementAt(0).ImagePath/Thumbnail" asp-append-version="true" alt="">
                }
                else
                {
                    <div class="text-center pt-5" style="object-fit: cover; width: 300px; height: 200px; min-width: contain; background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px ), linear-gradient( to bottom, #eee, #999 );"><h6>This album is empty or only contains private photos.</h6></div>
                }
            </div>

            <div class="form-group">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <label asp-for="AlbumTitle" class="control-label"></label>
                    </div>
                    <div class="col-auto">
                        <span asp-validation-for="AlbumTitle" class="text-danger"></span>
                    </div>
                </div>
                <input asp-for="AlbumTitle" class="form-control" />
            </div>

            <div class="form-group">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <label asp-for="AlbumPrivacy" class="control-label"></label>
                    </div>
                    <div class="col-auto">
                        <span asp-validation-for="AlbumPrivacy" class="text-danger"></span>
                    </div>
                </div>
                <select asp-for="AlbumPrivacy" class="form-control" asp-items="Html.GetEnumSelectList<Privacy>()"></select>
            </div>

            <div class="form-group">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <label for="AlbumImages" class="control-label">Images</label>
                    </div>
                </div>
                <select asp-for="Images" name="AlbumImages" id="AlbumImages" class="form-control form-control-chosen" multiple size="@ViewBag.Images.Count" data-placeholder="Select Images to Add">
                    @foreach (var value in ViewBag.Images)
                    {
                        @if (value.Selected)
                        {
                            <option value="@value.Value" selected>@value.Text</option>
                        }
                        else
                        {
                            <option value="@value.Value">@value.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <input type="submit" value="Apply changes" class="btn btn-primary" />
                    </div>
                    <div class="col-auto">
                        <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>&nbsp;
                        <a asp-controller="Albums" asp-action="Delete" asp-route-id="@Model.AlbumID" class="btn btn-danger" role="button" aria-pressed="true">Delete album</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}