@model RailGallery.Models.Image

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageMetadata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageMetadata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTakenDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageTakenDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUploadedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUploadedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePrivacy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePrivacy)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="/api/Photo/@Model.ImageID/Thumbnail" asp-append-version="true"/>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ImageID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
