@model IEnumerable<RailGallery.Models.Image>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Index">Upload New Photo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageMetadata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePrivacy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageMetadata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUploadedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePrivacy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
