@model IEnumerable<RailGallery.Models.Image>

@{
    ViewData["Title"] = "Your Upload History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <a asp-action="Index">Upload New Photo</a>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th class="text-center">
                Thumbnail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePrivacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageStatus)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string color;
            if(item.ImageStatus == RailGallery.Enums.Status.Pending) { color = "bg-warning"; }
            else if(item.ImageStatus == RailGallery.Enums.Status.Rejected) { color = "bg-danger"; }
            else { color = "bg-success"; }
        <tr class="@color text-white">
            <td class="text-center">
                <a asp-controller="View" asp-action="View" asp-route-id="@item.ImageID"><img src="/api/Photo/@item.ImagePath/Thumbnail" height="100" class="shadow-lg" asp-append-version="true" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUploadedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePrivacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageStatus)
            </td>
        </tr>
        }
    </tbody>
</table>
