@model IEnumerable<RailGallery.Models.Image>

@{
    ViewData["Title"] = "Upload History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>@ViewData["Title"]</h4> 
<a asp-action="Index">Upload New Photo</a>

<table class="table mt-2">
    <thead>
        <tr>
            <th class="text-center">
                Thumbnail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePrivacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                <a asp-controller="View" asp-action="View" asp-route-id="@item.ImageID"><img src="/api/Photo/@item.ImagePath/Thumbnail" height="100" class="shadow-lg" asp-append-version="true" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUploadedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePrivacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ImageID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
