@model RailGallery.Models.Image

@{
    ViewData["Title"] = "View " + Model.ImageTitle;
    ViewData["ImageID"] = Model.ImageID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="w-100 text-center mb-2">
        <img src="/api/Photo/@Model.ImageID" asp-append-version="true" class="img-fluid shadow-sm p-1 bg-white " />
    </div>
    <div class="col-md-6 offset-md-3">
        <div>
            <dl class="row">
                <dt class="col-auto">
                    @Html.DisplayNameFor(model => model.ImageTitle)
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ImageTitle)
                </dd>
                <dt class="col-auto">
                    By
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ApplicationUser.UserName)
                </dd>
                <dt class="col-auto">
                    @Html.DisplayNameFor(model => model.ImageDescription)
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ImageDescription)
                </dd>
                <dt class="col-auto">
                    @Html.DisplayNameFor(model => model.ImageTakenDate)
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ImageTakenDate)
                </dd>
                <dd class="col-auto">
                    <a asp-action="Edit" asp-route-id="@Model.ImageID">Edit Photo</a>
                </dd>
            </dl>
        </div>
        <partial name="_CommentForm" model="new Comment { Image = Model }" />
    </div>
</div>
