@model RailGallery.Models.Image

@{
    ViewData["Title"] = "View " + Model.ImageTitle;
    ViewData["ImageID"] = Model.ImageID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="row">
        <dt class="w-100 text-center mb-1">
            <img src="/api/Photo/@Model.ImageID" asp-append-version="true" class="img-fluid" />
        </dt>
        <dt class="col-sm-2">
            By
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTakenDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageTakenDate)
        </dd>
    </dl>
</div>


<partial name="_CommentForm" model="new Comment { Image = Model }" />


<div>
    <a asp-action="Edit" asp-route-id="@Model.ImageID">Edit</a>
</div>
