@model RailGallery.Models.Image

@{
    ViewData["Title"] = "View " + Model.ImageTitle;
    ViewData["ImageID"] = Model.ImageID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    
    <div class="w-100 text-center mb-2">

        @if (ViewBag.isPending)
        {
            <div class="alert alert-warning" role="alert">
                This photo has not been reviewed.
                @if (User.IsInRole("Moderator"))
                {
                    <br />
                    <button type="button" class="btn btn-success mr-2">Publish</button><button type="button" class="btn btn-danger">Decline</button>
                }
            </div>
        } else if (ViewBag.isPrivate)
        {
            <div class="alert alert-warning" role="alert">
                This image is uploaded as <b>private</b> and only visible to you.
            </div>
        }
        <img src="/api/Photo/@Model.ImagePath" asp-append-version="true" class="img-fluid shadow-sm p-1 bg-white " />
    </div>
    <div class="col-md-6 offset-md-3">
        <div>
            <dl class="row">
                <dt class="col-auto">
                    @Html.DisplayNameFor(model => model.ImageTitle)
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ImageTitle)
                </dd>
                <dt class="col-auto">
                    By
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ApplicationUser.UserName)
                </dd>
                <dt class="col-auto">
                    @Html.DisplayNameFor(model => model.ImageDescription)
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ImageDescription)
                </dd>
                <dt class="col-auto">
                    @Html.DisplayNameFor(model => model.ImageTakenDate)
                </dt>
                <dd class="col-auto">
                    @Html.DisplayFor(model => model.ImageTakenDate)
                </dd>
                <dd class="col-auto">
                    <a asp-action="Edit" asp-route-id="@Model.ImageID">Edit Photo</a>
                </dd>
            </dl>
        </div>
        <partial name="_CommentForm" model="new Comment { Image = Model }" />

        <h5>All Comments <span class="text-secondary">(@Model.Comments.Count)</span></h5>
        <hr />
        @if (Model.Comments.Count > 0)
        {
            @foreach (var comment in Model.Comments)
            {
                bool authorOrModerator = false;
                if (User.Identity.Name == comment.ApplicationUser.UserName || User.IsInRole("Moderator"))
                {
                    authorOrModerator = true;
                }
                
                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <a href=""><b>@comment.ApplicationUser.UserName</b></a> @if(User.Identity.Name == comment.ApplicationUser.UserName) { <span class='text-secondary font-weight-bold'>(You)</span> } on @comment.CommentDate
                            </div>
                            @if (authorOrModerator)
                            {
                                <div class="col-auto">
                                    <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.CommentID">Remove</a>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="card-body">
                        @comment.CommentText
                    </div>
                </div>
            }
        } else
            {
                <p>This photo does not have any comments.</p>
            }

    </div>
</div>
