@model RailGallery.Models.Image
@using RailGallery.Enums;

@{
    ViewData["Title"] = Model.ImageTitle;
    ViewData["ImageID"] = Model.ImageID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="w-100 text-center mb-2">

        @if (ViewBag.isPending) // If the photo has pending status, display the message that it hasn't been reviewed yet
        {
            <div class="alert alert-warning" role="alert">
                This photo has not been reviewed yet.
                @if (User.IsInRole("Moderator")) // If the current user is moderator, display the review options to Approve or Reject photo
                {
                    <br />
                    <form asp-controller="Admin" asp-action="ReviewPhoto" method="post">
                        <input type="hidden" name="ImageID" value="@Model.ImageID" />
                        <button value="Approve" name="decision" type="submit" class="btn btn-success mr-2">Approve</button>
                        <button value="Reject" name="decision" type="submit" class="btn btn-danger">Decline</button>
                    </form>
                }
            </div>
        }
        else if (ViewBag.isRejected) // If the photo is rejected, display the message to inform the user
        {
            <div class="alert alert-danger" role="alert">
                This photo has been rejected.
            </div>
        }
        else if (ViewBag.isPrivate) // If the photo is private, display the message to inform the user
        {
            <div class="alert alert-warning" role="alert">
                This photo is uploaded as <b>private</b> and only visible to you.
            </div>
        }
        <img src="/api/Photo/@Model.ImagePath" asp-append-version="true" class="img-fluid shadow-sm p-1 bg-white " />
    </div>


    <div class="col-md-6 offset-md-3">
        <div class="row mt-3 mb-3">
            <div class="col">
                @if (Model.Albums.Count > 0) // If the photo belongs to any albums, display them as links
                {
                    if (Model.Albums.Count == 1) // If there is only one album the photo belongs to,
                    {
                        // If the current user has the permission to view this album, display the album name
                        if (Model.Albums.ElementAt(0).AlbumPrivacy != Privacy.Private || User.Identity.Name == Model.Albums.ElementAt(0).ApplicationUser.UserName)
                        {
                            <div>Album: <a asp-controller="Search" asp-action="Results" asp-route-imagealbum="@Model.Albums.ElementAt(0).AlbumTitle" asp-route-imageauthor="@Model.Albums.ElementAt(0).ApplicationUser.UserName">@Model.Albums.ElementAt(0).AlbumTitle</a></div>
                        }
                    }
                    else // If the photo belongs to multiple albums, display them in a list
                    {
                        <div>Albums:</div>
                        <ul>
                            @foreach (Album album in Model.Albums) // Iterate through the list of albums
                            {
                                // If the current user has the permission to view this album, display the album name in the list
                                if (album.AlbumPrivacy != Privacy.Private || User.Identity.Name == album.ApplicationUser.UserName)
                                {
                                    <li><a asp-controller="Search" asp-action="Results" asp-route-imagealbum="@album.AlbumTitle" asp-route-imageauthor="@album.ApplicationUser.UserName">@album.AlbumTitle</a></li>
                                }
                            }
                        </ul>
                    }
                }
                Category:  <a asp-controller="Search" asp-action="Results" asp-route-imagecategory="@Model.Category.CategoryTitle">@Html.DisplayFor(model => model.Category.CategoryTitle)</a>
            </div>
            <div class="col text-center">
                <h5>@Html.DisplayFor(model => model.ImageTitle)</h5>
            </div>
            <div class="col text-right">
                by <a asp-controller="Author" asp-action="Index" asp-route-username="@Model.ApplicationUser.UserName">@Html.DisplayFor(model => model.ApplicationUser.UserName)</a>
                <br />
                in <a asp-controller="Search" asp-action="Results" asp-route-imagelocation="@Model.Location.LocationName">@Html.DisplayFor(model => model.Location.LocationName)</a> on <a asp-controller="Search" asp-action="Results" asp-route-imagetakendate="@Model.ImageTakenDate.ToShortDateString()">@Html.DisplayFor(model => model.ImageTakenDate)</a>
            </div>
        </div>
        @if (Model.ImagePrivacy != Privacy.Private && Model.ImageStatus == Status.Published && User.Identity.IsAuthenticated) // If the photo is public and the user is authenticated, allow the user to add this photo to the Liked/Favorited collection
        {
            <form asp-controller="LikeFavorite" asp-action="LikeOrFavorite" method="post">
                <input type="hidden" name="ImageID" value="@Model.ImageID" />
                <div class="row mt-2 mb-2">
                    <div class="col text-center">
                        <button value="Like" name="action" type="submit" class="btn btn-link text-decoration-none">
                            @if (ViewBag.isLiked) // Conditional rendering, displays a control based on whether the current user has already liked this photo
                            {
                                <h5><i class="fas fa-heart"></i> Remove Like</h5>
                            }
                            else
                            {
                                <h5><i class="far fa-heart"></i> Like Photo</h5>
                            }
                        </button>
                    </div>
                    <div class="col text-center">
                        <button value="Favorite" name="action" type="submit" class="btn btn-link text-decoration-none">
                            @if (ViewBag.isFavorited) // Conditional rendering, displays a control based on whether the current user has already favorited this photo
                            {
                                <h5><i class="fas fa-star"></i> Remove from Favorites</h5>
                            }
                            else
                            {
                                <h5><i class="far fa-star"></i> Add to Favorites</h5>
                            }
                        </button>
                    </div>
                </div>
            </form>
        }
        <div class="row mb-3 mt-3">
            <div class="col-4 border-right">
                <h6>Details</h6>
                Total Views: @Model.ImageViews.Count
                <br />
                Locomotive: <a asp-controller="Search" asp-action="Results" asp-route-locomotivemodel="@Model.Locomotive.LocomotiveModel">@Html.DisplayFor(model => model.Locomotive.LocomotiveModel)</a>
                <br />
                Built: <a asp-controller="Search" asp-action="Results" asp-route-locomotivebuilt="@Model.Locomotive.LocomotiveBuilt.ToShortDateString()">@Html.DisplayFor(model => model.Locomotive.LocomotiveBuilt.Year)</a>
            </div>
            <div class="col-8 border-left">
                <h6>Description</h6>
                @Html.DisplayFor(model => model.ImageDescription)
            </div>
        </div>
        @if (User.IsInRole("Moderator")) // If the current user is a moderator, display links to edit and delete this photo
        {
            <div class="alert alert-warning text-center" role="alert">
                <a asp-controller="Upload" asp-action="Edit" class="btn btn-info" asp-route-id="@Model.ImageID" role="button" aria-pressed="true">Edit Photo</a>&nbsp;&nbsp;
                <a asp-controller="Upload" asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.ImageID" role="button" aria-pressed="true">Delete Photo</a>
            </div>
        }

        @if (Model.ImagePrivacy != Privacy.Private && Model.ImageStatus == Status.Published) // If the photo is not private and has status published, display the comments form
        {
            <partial name="_CommentForm" model="new Comment { Image = Model }" />

            <h5>Comments <span class="text-secondary">(@Model.Comments.Count)</span></h5>
            <hr />
            @if (Model.Comments.Count > 0) // If the photo has any comments, display them
            {
                @foreach (var comment in Model.Comments) // Iterate through the collection of comments to display them
                {
                    bool authorOrModerator = false; 
                    // If the current user is the author of the comment or a moderator, set the boolean value to true
                    if (User.Identity.Name == comment.ApplicationUser.UserName || User.IsInRole("Moderator"))
                    {
                        authorOrModerator = true;
                    }

                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <a asp-controller="Author" asp-action="Index" asp-route-username="@comment.ApplicationUser.UserName"><b>@comment.ApplicationUser.UserName</b></a> @if (User.Identity.Name == comment.ApplicationUser.UserName)
                                    {<span class='text-secondary font-weight-bold'>(You)</span>} on @comment.CommentDate
                                </div>
                                @if (authorOrModerator) // If the current user is author of the comment or a moderator, display the remove link 
                                {
                                    <div class="col-auto">
                                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.CommentID">Remove</a>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="card-body">
                            @comment.CommentText
                        </div>
                    </div>
                }
            }
            else // If there is no comments to display, display the message
            {
                <p>This photo does not have any comments.</p>
            }
        }
    </div>
</div>

<script src="https://kit.fontawesome.com/d3137ef294.js" crossorigin="anonymous"></script>
