@model RailGallery.Models.Image
@using RailGallery.Enums;

@{
    ViewData["Title"] = "View " + Model.ImageTitle;
    ViewData["ImageID"] = Model.ImageID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="w-100 text-center mb-2">

        @if (ViewBag.isPending)
        {
            <div class="alert alert-warning" role="alert">
                This photo has not been reviewed yet.
                @if (User.IsInRole("Moderator"))
                {
                    <br />
                    <form asp-controller="Admin" asp-action="ReviewPhoto" method="post">
                        <input type="hidden" name="ImageID" value="@Model.ImageID" />
                        <button value="Approve" name="decision" type="submit" class="btn btn-success mr-2">Approve</button>
                        <button value="Reject" name="decision" type="submit" class="btn btn-danger">Decline</button>
                    </form>

                }
            </div>
        }
        else if (ViewBag.isRejected)
        {
            <div class="alert alert-danger" role="alert">
                This photo has been rejected.
            </div>
        }
        else if (ViewBag.isPrivate)
        {
            <div class="alert alert-warning" role="alert">
                This photo is uploaded as <b>private</b> and only visible to you.
            </div>
        }
        <img src="/api/Photo/@Model.ImagePath" asp-append-version="true" class="img-fluid shadow-sm p-1 bg-white " />
    </div>
    
    
       
    
    
    <div class="col-md-6 offset-md-3">
        <div class="row mt-3 mb-3">
            <div class="col">
                Album:
                <br />
                Category:  <a asp-controller="Search" asp-action="Results" asp-route-imagecategory="@Model.Category.CategoryTitle">@Html.DisplayFor(model => model.Category.CategoryTitle)</a>
            </div>
            <div class="col text-center">
                <h5>@Html.DisplayFor(model => model.ImageTitle)</h5>
            </div>
            <div class="col text-right">
                by <a asp-controller="Author" asp-action="Index" asp-route-username="@Model.ApplicationUser.UserName">@Html.DisplayFor(model => model.ApplicationUser.UserName)</a>
                <br />
                in <a asp-controller="Search" asp-action="Results" asp-route-imagelocation="@Model.Location.LocationName">@Html.DisplayFor(model => model.Location.LocationName)</a> on <a asp-controller="Search" asp-action="Results" asp-route-imagetakendate="@Model.ImageTakenDate.ToShortDateString()">@Html.DisplayFor(model => model.ImageTakenDate)</a>
            </div>
        </div>
        @if (Model.ImagePrivacy != Privacy.Private && Model.ImageStatus == Status.Published && User.Identity.IsAuthenticated)
        {
            <form asp-controller="LikeFavorite" asp-action="LikeOrFavorite" method="post">
                <input type="hidden" name="ImageID" value="@Model.ImageID" />
                <div class="row mt-2 mb-2">
                    <div class="col text-center">
                        <button value="Like" name="action" type="submit" class="btn btn-link text-decoration-none">
                            @if (ViewBag.isLiked)
                            {
                                <h5><i class="fas fa-heart"></i> Liked</h5>
                            }
                            else
                            {
                                <h5><i class="far fa-heart"></i> Like Photo</h5>
                            }
                        </button>
                    </div>
                    <div class="col text-center">
                        <button value="Favorite" name="action" type="submit" class="btn btn-link text-decoration-none">
                            @if (ViewBag.isFavorited)
                            {
                                <h5><i class="fas fa-star"></i> Added to Favorites</h5>
                            }
                            else
                            {
                                <h5><i class="far fa-star"></i> Add to Favorites</h5>
                            }
                        </button>
                    </div>
                </div>
            </form>
        }
        <div class="row mb-3 mt-3">
            <div class="col-4 border-right">
                <h6>Details</h6>
                Locomotive: <a asp-controller="Search" asp-action="Results" asp-route-locomotivemodel="@Model.Locomotive.LocomotiveModel">@Html.DisplayFor(model => model.Locomotive.LocomotiveModel)</a>
                <br />
                Built: <a asp-controller="Search" asp-action="Results" asp-route-locomotivebuilt="@Model.Locomotive.LocomotiveBuilt.ToShortDateString()">@Html.DisplayFor(model => model.Locomotive.LocomotiveBuilt.Year)</a>
            </div>
            <div class="col-8 border-left">
                <h6>Description</h6>
                @Html.DisplayFor(model => model.ImageDescription)
            </div>
        </div>

        @if (Model.ImagePrivacy != Privacy.Private && Model.ImageStatus == Status.Published)
        {
            <partial name="_CommentForm" model="new Comment { Image = Model }" />

            <h5>Comments <span class="text-secondary">(@Model.Comments.Count)</span></h5>
            <hr />
            @if (Model.Comments.Count > 0)
            {
                @foreach (var comment in Model.Comments)
                {
                    bool authorOrModerator = false;
                    if (User.Identity.Name == comment.ApplicationUser.UserName || User.IsInRole("Moderator"))
                    {
                        authorOrModerator = true;
                    }

                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <a asp-controller="Author" asp-action="Index" asp-route-username="@comment.ApplicationUser.UserName"><b>@comment.ApplicationUser.UserName</b></a> @if (User.Identity.Name == comment.ApplicationUser.UserName)
                                    {<span class='text-secondary font-weight-bold'>(You)</span>} on @comment.CommentDate
                                </div>
                                @if (authorOrModerator)
                                {
                                    <div class="col-auto">
                                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.CommentID">Remove</a>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="card-body">
                            @comment.CommentText
                        </div>
                    </div>
                }
            }
            else
            {
                <p>This photo does not have any comments.</p>
            }
        }
    </div>
</div>

<script src="https://kit.fontawesome.com/d3137ef294.js" crossorigin="anonymous"></script>
