@model dynamic
@{
    ViewData["Title"] = Model.User.UserName;
}


<div class="row">
    <div class="col-lg-2 col-md-12 text-center border-right mb-4">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div class="justify-content-center">
            @if (User.Identity.Name == Model.User.UserName)
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index">Account Settings</a>
                <br />
                <a asp-controller="Upload" asp-action="Index">Upload Photo</a>
                <br />
                <a asp-controller="Albums" asp-action="Create">Add New Album</a>
                <br />
                <a asp-controller="Saved" asp-action="Liked">Photos You've Liked</a>
                <br />
                <a asp-controller="Saved" asp-action="Favorite">Your Favorites</a>
                <br />
                <a asp-controller="Upload" asp-action="History">Your Upload History</a>
                <br />
                @if (User.IsInRole("Moderator"))
                {
                    <a asp-controller="Admin" asp-action="" class="text-danger">Admin Panel</a>
                }
                <hr />
            }
            <a asp-controller="Search" asp-action="Results" asp-route-imageauthor="@Model.User.UserName">Show all @Model.User.UserName's photos</a>
            <br />
            <a asp-controller="Albums" asp-action="Index" asp-route-username="@Model.User.UserName">Show all @Model.User.UserName's albums</a>
        </div>
    </div>


    <div class="col-lg-5 col-md-12 text-center border-left border-right mb-4">
        <h5 class="text-center">@Model.User.UserName's Recent Albums</h5>
        <div class="d-flex justify-content-center flex-wrap">
            @if (((IEnumerable<Album>)Model.RecentAlbums).Where(a => a.AlbumPrivacy == RailGallery.Enums.Privacy.Public).Any() || (((IEnumerable<Album>)Model.RecentAlbums).Where(a => a.AlbumPrivacy == RailGallery.Enums.Privacy.Private).Any() && User.Identity.Name == Model.User.UserName))
            {
                @foreach (Album album in Model.RecentAlbums)
                {
                    string css = "";
                    bool albumPrivate = album.AlbumPrivacy.Equals(RailGallery.Enums.Privacy.Private);
                    if (albumPrivate)
                    {
                        css = "alert-warning";
                    }
                    if (!albumPrivate || (albumPrivate && User.Identity.Name == album.ApplicationUser.UserName))
                    {
                        <div class="d-inline-flex align-self-start p-2">
                            <a asp-controller="Search" asp-action="Results" asp-route-imagealbum="@album.AlbumTitle" asp-route-imageauthor="@Model.User.UserName" class="text-decoration-none">
                                <div class="card btn-light @css" style="max-width: 302px;">
                                    @if (album.Images.Where(i => i.ImagePrivacy != RailGallery.Enums.Privacy.Private).Any())
                                    {
                                        <img class="card-img-top" style="object-fit: cover; max-width: 300px; max-height: 200px; min-width:contain;" src="/api/Photo/@album.Images.Where(i=>i.ImagePrivacy != RailGallery.Enums.Privacy.Private).ElementAt(0).ImagePath/Thumbnail" asp-append-version="true" alt="">
                                    }
                                    else
                                    {
                                        <div class="card-img-top" style="object-fit: cover; width: 300px; height: 200px; min-width: contain; background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px ), linear-gradient( to bottom, #eee, #999 );"><h6 class="mt-5">This album is empty or only contains private photos.</h6></div>
                                    }

                                    <div class="card-body p-2">
                                        <h6 class="card-title">@album.AlbumTitle</h6>
                                        <p class="card-text"><small><b>@album.Images.Count</b> images, @album.AlbumPrivacy.ToString()</small></p>
                                    </div>
                                </div>
                            </a>
                            @if (User.Identity.Name == album.ApplicationUser.UserName || User.IsInRole("Moderator"))
                            {
                                <a asp-controller="Albums" asp-action="Edit" asp-route-id="@album.AlbumID" class="position-absolute text-decoration-none shadow p-1 bg-white">Edit</a>
                            }
                        </div>
                    }

                }
            }
            else
            {
                <p class="text-center mb-5 mt-5">@Model.User.UserName  does not have any public albums yet.</p>
            }

        </div>

    </div>


    <div class="col-lg-5 col-md-12 text-center border-left">
        <h5>@Model.User.UserName's Recent Photos</h5>
        <div class="d-flex justify-content-center flex-wrap">
            @if (((IEnumerable<Image>)Model.RecentPhotos).Any())
            {
                @foreach (var image in Model.RecentPhotos)
                {
                    <div class="d-inline-flex align-self-start p-2">
                        <a asp-controller="View" asp-action="View" asp-route-id="@image.ImageID" class="text-decoration-none">
                            <div class="card btn-light" style="max-width: 302px;">
                                <img class="card-img-top" style="object-fit: cover; max-width: 300px; max-height: 200px; min-width:contain;" src="/api/Photo/@image.ImagePath/Thumbnail" asp-append-version="true" alt="Card image cap">
                                <div class="card-body p-2">
                                    <h6 class="card-title">@image.ImageTitle</h6>
                                    <p class="card-text"><small><b>@image.Comments.Count</b> comments, <b>@image.Likes.Count</b> likes</small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <p class="text-center mb-5 mt-5">@Model.User.UserName  does not have any public photos yet.</p>
            }

        </div>
    </div>
</div>




