@model IPagedList<RailGallery.Models.Image>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = ViewBag.Title;
    string action = ViewBag.Action;
}


<div class="row">
    <div class="col text-center">
        <h4 class="mb-3">@ViewData["Title"]</h4>

        <div class="btn-group mb-3" role="group" aria-label="Display options">
            <a href="Liked" type="button" class="btn btn-primary">Liked</a>
            <a href="Favorite" type="button" class="btn btn-primary">Favorite</a>
        </div>

        @if (Model.Count() == 0) // If the user does not have any photos in their Liked/Favorited collection, display the message
        {
            <p class="text-center mb-5 mt-5">You haven't saved any photos here yet.</p>
        }
        else // If there are photos in the user's Liked/Favorited collection, render the following HTML
        {
            <div class="mt-2">
                @Html.PagedListPager(Model, page => Url.Action(action, "Saved", new // Pagination controls
           {
               page // Current page
           }), new PagedListRenderOptions
           {
               ContainerDivClasses = new string[] { "pagination justify-content-center" },
               LinkToPreviousPageFormat = "Previous",
               LinkToNextPageFormat = "Next",
               LiElementClasses = new string[] { "page-item" },
               PageClasses = new string[] { "page-link" }
           })
            </div>

            <div class="d-flex justify-content-center flex-wrap">
                @foreach (var image in Model) // Iterate through the collection of the images in the user's Liked/Favorited collection to display them
                {

                    <div class="d-inline-flex align-self-start p-2">
                        <a asp-controller="View" asp-action="View" asp-route-id="@image.ImageID" class="text-decoration-none">
                            <div class="card btn-light" style="max-width: 302px;">
                                <img class="card-img-top" style="object-fit: cover; max-width: 300px; max-height: 200px; min-width: fit-content;" src="/api/Photo/@image.ImagePath/Thumbnail" asp-append-version="true" alt="Card image cap">
                                <div class="card-body p-2">
                                    <h6 class="card-title">@image.ImageTitle</h6>
                                    <h6 class="card-subtitle mb-1 text-muted">by <b>@image.ApplicationUser.UserName</b></h6>
                                    <p class="card-text"><small><b>@image.Comments.Count</b> comments, <b>@image.Likes.Count</b> likes</small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="mt-4">
                @Html.PagedListPager(Model, page => Url.Action(action, "Saved", new // Pagination controls
           {
               page // Current page
           }), new PagedListRenderOptions
           {
               ContainerDivClasses = new string[] { "pagination justify-content-center" },
               LinkToPreviousPageFormat = "Previous",
               LinkToNextPageFormat = "Next",
               LiElementClasses = new string[] { "page-item" },
               PageClasses = new string[] { "page-link" }
           })
            </div>
        }
    </div>
</div>





