@model IPagedList<RailGallery.Models.Image>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Top Photos";
}


<div class="row">
    <div class="col text-center">
        <h4 class="mb-3">@ViewData["Title"]</h4>

        <div class="btn-group mb-3" role="group" aria-label="Basic example">
            <a href="?time=24hours" type="button" class="btn btn-primary">Past 24 Hours</a>
            <a href="?time=week" type="button" class="btn btn-primary">Past Week</a>
            <a href="?time=month" type="button" class="btn btn-primary">Past Month</a>
        </div>

        @if (Model.Count() == 0)
        {
            <p class="mt-5">No photos found.</p>
        }
        else
        {
            <div class="mt-2">
                     @Html.PagedListPager(Model, page => Url.Action("Index","Top", new
                {
                    page,
                    time = ViewBag.Time
                }), new PagedListRenderOptions
                {
                    ContainerDivClasses = new string[] { "pagination justify-content-center" },
                    LinkToPreviousPageFormat = "Previous",
                    LinkToNextPageFormat = "Next",
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
                 </div>

            <div class="d-flex justify-content-center flex-wrap">
                @foreach (var image in Model)
                {

                    <div class="d-inline-flex align-self-start p-2">
                        <a asp-controller="View" asp-action="View" asp-route-id="@image.ImageID" class="text-decoration-none">
                            <div class="card btn-light" style="max-width: 302px;">
                                <img class="card-img-top" style="object-fit: cover; max-width: 300px; max-height: 200px; min-width: fit-content;" src="/api/Photo/@image.ImagePath/Thumbnail" asp-append-version="true" alt="Card image cap">
                                <div class="card-body p-2">
                                    <h6 class="card-title">@image.ImageTitle</h6>
                                    <h6 class="card-subtitle mb-1 text-muted">by <b>@image.ApplicationUser.UserName</b></h6>
                                    <p class="card-text"><small><b>@image.ImageViews.Count</b> views, <b>@image.Comments.Count</b> comments, <b>@image.Likes.Count</b> likes</small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="mt-4">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Top", new
           {
               page,
               time = ViewBag.Time
           }), new PagedListRenderOptions
           {
               ContainerDivClasses = new string[] { "pagination justify-content-center" },
               LinkToPreviousPageFormat = "Previous",
               LinkToNextPageFormat = "Next",
               LiElementClasses = new string[] { "page-item" },
               PageClasses = new string[] { "page-link" }
           })
            </div>
        }
    </div>
</div>





