@model dynamic
@{
    ViewData["Title"] = "Admin Panel";
}


<div class="row">
    <div class="col-2 text-center border-right">
        <h4>@ViewData["Title"]</h4>
        <div class="justify-content-center">
            <a asp-controller="Admin" asp-action="Statistics">Photo Statistics</a>
            <br />
            <a asp-controller="Admin" asp-action="Users">User List</a>
        </div>
    </div>


    <div class="col-5 border-left border-right">
        <h5 class="text-center">Recent Comments</h5>
        @if (Model.RecentComments != null)
        {
            @foreach (var comment in Model.RecentComments)
            {

                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <a href=""><b>@comment.ApplicationUser.UserName</b></a> @if (User.Identity.Name == comment.ApplicationUser.UserName)
                                {<span class='text-secondary font-weight-bold'>(You)</span>} on @comment.CommentDate
                            </div>
                            <div class="col-auto">
                                <a asp-controller="View" asp-action="View" asp-route-id="@comment.Image.ImageID">View Photo</a> | <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.CommentID">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @comment.CommentText
                    </div>
                </div>
            }
        }
        else
        {
            <p>No comments to display.</p>
        }

    </div>


    <div class="col-5 text-center border-left">
        <h5>Pending Uploads</h5>
        <div class="d-flex justify-content-center flex-wrap">
            @foreach (var image in Model.PendingImages)
            {
                <div class="d-inline-flex align-self-start p-2">
                    <a asp-controller="View" asp-action="View" asp-route-id="@image.ImageID" class="text-decoration-none">
                        <div class="card btn-light" style="max-width: 302px;">
                            <img class="card-img-top" style="object-fit: cover; max-width: 300px; max-height: 200px; min-width:contain;" src="/api/Photo/@image.ImagePath/Thumbnail" asp-append-version="true" alt="Card image cap">
                            <div class="card-body p-2">
                                <h6 class="card-title">@image.ImageTitle</h6>
                                <h6 class="card-subtitle mb-1 text-muted">by <b>@image.ApplicationUser.UserName</b></h6>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>




